.projects-section {
  background-color: #d6e0f1; 
}

.project-card {
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  height: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.project-img-wrapper {
  background: #f1f5f9;
  border-radius: 14px;
  padding: 12px;
  margin-bottom: 15px;
}

.project-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.project-body h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

.project-body p {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
}